@{
    if (@CV.UserRole() == "Admin")
    {
        ViewData["Title"] = "Change Password";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (@CV.UserRole() == "Staff")
    {
        ViewData["Title"] = "Change Password";
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
    else if (@CV.UserRole() == "Student")
    {
        ViewData["Title"] = "Change Password";
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }

}

@using System.Data;
@using Hostel_Management_System.BAL
@model Hostel_Management_System.Areas.SEC_User.Models.SEC_UserModel;

<div class="pagetitle">
    <h1>Change Password</h1>
    <nav>
        <ol class="breadcrumb">
            @if (@CV.UserRole() == "Admin")
            {
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            }
            else if (@CV.UserRole() == "Staff")
            {
                <li class="breadcrumb-item"><a asp-controller="Staff" asp-action="Index">Home</a></li>
            }
            else if (@CV.UserRole() == "Student")
            {
                <li class="breadcrumb-item"><a asp-controller="User" asp-action="Index">Home</a></li>
            }
            <li class="breadcrumb-item active"><a asp-controller="SEC_User" asp-action="ChangePassword">Change Password</a></li>
        </ol>
    </nav>
</div>

<style>
    .card {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 1.25rem;
        color: #333;
    }

    .form-group {
        margin-bottom: 5px;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="date"],
    input[type="file"],
    select,
    textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    select {
        appearance: none;
    }
</style>

<div class="card col-md-6">
    <div class="card-body p-3">
        <span class="card-title"> <i class="fa-solid fa-key"></i> Change Password</span>
        <hr />
        <form role="form" method="post" asp-area="SEC_User" asp-controller="SEC_User" asp-action="ChangePassword">
            @Html.HiddenFor(x => x.UserID)

            <div class="form-group">
                <label for="inputState"><span class="text-danger">*</span>Old Password</label>
                <input type="text" class="form-control" placeholder="Enter Old Password" asp-for="OldPassword">
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="inputState"><span class="text-danger">*</span>New Password</label>
                <input type="text" class="form-control" placeholder="Enter Last Name" asp-for="NewPassword">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <hr />
            <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk mx-1"></i> Save</button>
            
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}