@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="greeting" class="card-title"></div>

<section class="section dashboard">
    <div class="row d-flex">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xxl-2 col-md-6">
                    <div class="card info-card sales-card border-5 border-primary border-top rounded">
                        <div class="card-body">
                            <h5 class="card-title">Students <span>|</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fa-solid fa-users"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.DashboardData["StudentCount"]</h6>
                                </div>
                            </div>
                            <hr class="border-primary" />
                            <a asp-area="MST_Student" asp-controller="MST_Student" asp-action="Index" class="text-end text-primary">View Details <i class="bi bi-arrow-right-circle-fill"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-2 col-md-6">
                    <div class="card info-card revenue-card border-5 border-success border-top rounded">
                        <div class="card-body">
                            <h5 class="card-title">Rooms <span>|</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fa-solid fa-door-open"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.DashboardData["RoomCount"]</h6>
                                </div>
                            </div>
                            <hr class="border-success" />
                            <a asp-area="MST_Room" asp-controller="MST_Room" asp-action="Index" class="text-end text-success">View Details <i class="bi bi-arrow-right-circle-fill"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-2 col-md-6">
                    <div class="card info-card customers-card  border-5 border-warning border-top rounded">
                        <div class="card-body">
                            <h5 class="card-title">Tota Beds <span>|</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fa-solid fa-bed"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.DashboardData["BedCount"]</h6>
                                </div>
                            </div>
                            <hr style="color:orange" />
                            <a asp-area="MST_Room" asp-controller="MST_Room" asp-action="Index" style=" color: orange;">View Details <i class="bi bi-arrow-right-circle-fill"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-2 col-md-6">
                    <div class="card info-card abed-card border-5 border-danger border-top rounded">
                        <div class="card-body">
                            <h5 class="card-title">Available Bed <span>|</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-danger-subtle" style="color:red">
                                    <i class="fa-solid fa-gears"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.DashboardData["AvailableBedCount"]</h6>
                                </div>
                            </div>
                            <hr style="color:red" />
                            <a asp-area="MST_Room" asp-controller="MST_Room" asp-action="Index" class="text-danger">View Details <i class="bi bi-arrow-right-circle-fill"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-2 col-md-6">
                    <div class="card info-card abed-card border-5 border-info border-top rounded">
                        <div class="card-body">
                            <h5 class="card-title">Employees <span>|</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center text-info bg-info-subtle">
                                    <i class="fa-solid fa-user-tie"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.DashboardData["EmployeeCount"]</h6>
                                </div>
                            </div>
                            <hr style="color:aqua" />
                            <a asp-area="MST_Room" asp-controller="MST_Room" asp-action="Index" class="text-info">View Details <i class="bi bi-arrow-right-circle-fill"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-2 col-md-6">
                    <div class="card info-card abed-card border-5 border-secondary border-top rounded">
                        <div class="card-body">
                            <h5 class="card-title">Available Bed <span>|</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center text-secondary bg-secondary-subtle">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.DashboardData["AvailableBedCount"]</h6>
                                </div>
                            </div>
                            <hr style="color:dimgrey" />
                            <a asp-area="MST_Room" asp-controller="MST_Room" asp-action="Index" class="text-secondary">View Details <i class="bi bi-arrow-right-circle-fill"></i></a>
                        </div>
                    </div>
                </div>


                <!-- Add more cards as needed -->
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12">
        <div class="card info-card @((int)ViewBag.DashboardData["BedCount"] == (int)ViewBag.DashboardData["StudentCount"] ? "border-danger" : "border-success") border-5 border-start rounded">
            <div class="card-body">
                <h5 class="card-title">Hostel Status</h5>
                <div class="">
                    @if ((int)ViewBag.DashboardData["BedCount"] == (int)ViewBag.DashboardData["StudentCount"])
                    {
                        <h6 class="text-danger ms-2">Admission closes! 😔</h6>
                    }
                    else
                    {
                        <h6 class="text-success">🏠 Hostel Admission Open! 🌟</h6>
                    }
                </>
          
            </div>
        </div>
    </div>
</div>
 <section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Example Card</h5>
                    <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>
                </div>
            </div>

        </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Calendar</h5>
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the current time
        var currentTime = new Date();
        var hours = currentTime.getHours();

        // Get the greeting based on the time
        var greeting;
        if (hours < 12) {
            greeting = "Good Morning 🌞";
        } else if (hours < 18) {
            greeting = "Good Afternoon ☀️";
        } else {
            greeting = "Good Evening 🌜";
        }

        // Display the greeting in the designated element
        var greetingElement = document.getElementById("greeting");
        if (greetingElement) {
            greetingElement.textContent = greeting;
        }
    });



        $(document).ready(function () {
            $('#calendar').fullCalendar({
                // Your FullCalendar options go here
                // For example:
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: [
                    {
                        title: 'Event 1',
                        start: '2023-01-01T10:00:00',
                        end: '2023-01-01T14:00:00'
                    },
                    // Add more events as needed
                ]
            });
        });
</script>