@using Hostel_Management_System.BAL
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using System.Data;
@model Hostel_Management_System.ViewModel.UserViewModel;

<style>
    #greeting {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .user {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .profile-card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
    }

    .profile-card img {
        max-width: 100%;
        border-radius: 50%;
    }

    .badge {
        font-size: 14px;
        margin-top: 10px;
    }

    .badge.bg-success {
        background-color: #2ecc71;
        color: #fff;
    }

    .badge.bg-danger {
        background-color: #e74c3c;
        color: #fff;
    }

    .social-links a {
        color: #3498db;
        margin: 0 5px;
        font-size: 18px;
    }

    .nav-tabs-bordered .nav-item {
        margin-bottom: -1px;
    }

    .nav-tabs-bordered .nav-link {
        border: 1px solid #ddd;
        border-radius: 5px 5px 0 0;
    }

    .nav-tabs-bordered .nav-item.show .nav-link,
    .nav-tabs-bordered .nav-link.active {
        border-bottom: none;
    }

    .tab-content {
        padding: 20px;
    }

    .label {
        font-weight: bold;
        color: #777;
    }

    .notice-item {
        padding:3px;
        margin:8px;
        border-radius:10px;
    }

    

    .notice-content h5 {
        color:#333;
        padding:2px;
    }

    .notice-content p {
        color: darkblue; /* Description text color */
    }

   
    

</style>

<h2 class="user">Hii, @CV.UserName() </h2>
<div id="greeting"></div>


<section class="section dashboard">
    <section class="section profile">
        <div class="row">
            <div class="col-xl-5">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                          <img src="@Url.Content(Model.StudentData.Rows[0]["PhotoPath"].ToString())" alt="@Model.StudentData.Rows[0]["StudentName"]" class="rounded-circle" />
                          <h2>@Model.StudentData.Rows[0]["StudentName"]</h2>
                          <h4 class="@(Model.StudentData.Rows[0]["isActive"].ToString() == "True" ? "badge bg-success" : "badge bg-danger")">@Model.StudentData.Rows[0]["isActive"]</h4>

                            <div class="social-links mt-2">
                                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                            </div>
                    </div>

                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-note-sticky"></i> Notice</h5>

                        @if (Model.NoticeData.Rows.Count > 0)
                        {
                            @foreach (DataRow row in Model.NoticeData.Rows)
                            {
                                <div class="notice-item ps-2 pt-2 mt-2 shadow-sm bg-body-tertiary rounded">
                                    <div class="notice-content">
                                        <h6><b>@row["Title"]</b></h6>
                                        <p><i>@row["Description"]</i></p>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="w-full p-2 rounded bg-danger bg-opacity-75">
                                <i class="bi bi-x-circle-fill text-light"></i> <span style="font-size: 15px; color: white;">No Record Found</span>
                            </div>
                        }
                    </div>

                </div>
                

                    
            </div>

            <div class="col-xl-7">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Profile</button>
                            </li>
                        </ul>

                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview px-2" id="profile-overview">

                                <h5 class="card-title"><i class="fa-solid fa-user"></i> Details</h5>

                                <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                    <div class="col-lg-9 col-md-8">@Model.StudentData.Rows[0]["StudentName"]</div>
                                </div>

                                    <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">@Model.StudentData.Rows[0]["Email"]</div>
                                </div>

                                    <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label">Contact No.</div>
                                    <div class="col-lg-9 col-md-8">@Model.StudentData.Rows[0]["MobileNo"]</div>
                                </div>

                                    <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label">Birth Date</div>
                                        <div class="col-lg-9 col-md-8">@Convert.ToDateTime(Model.StudentData.Rows[0]["BirthDate"]).ToString("dd-MM-yyyy")</div>
                                </div>

                                    <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label">Age</div>
                                    <div class="col-lg-9 col-md-8">@Model.StudentData.Rows[0]["Age"]</div>
                                </div>

                                    <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label">Blood Group</div>
                                    <div class="col-lg-9 col-md-8">@Model.StudentData.Rows[0]["BloodGroup"]</div>
                                </div>

                                    <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label">Course</div>
                                    <div class="col-lg-9 col-md-8">@Model.StudentData.Rows[0]["CourseName"]</div>
                                </div>

                                    <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label">Nationality</div>
                                    <div class="col-lg-9 col-md-8">@Model.StudentData.Rows[0]["Nationlity"]</div>
                                </div>

                                    <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label">Aadhar Card No.</div>
                                    <div class="col-lg-9 col-md-8">@Model.StudentData.Rows[0]["AadharCardNo"]</div>
                                </div>

                                    <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label">Father Name</div>
                                    <div class="col-lg-9 col-md-8">@Model.StudentData.Rows[0]["FatherName"]</div>
                                </div>

                                    <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label">Father`s Contact No</div>
                                    <div class="col-lg-9 col-md-8">@Model.StudentData.Rows[0]["FatherMobileNo"]</div>
                                </div>

                                    <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label">Mother Name</div>
                                    <div class="col-lg-9 col-md-8">@Model.StudentData.Rows[0]["MotherName"]</div>
                                </div>

                                    <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label">Mother`s Contact No.</div>
                                    <div class="col-lg-9 col-md-8">@Model.StudentData.Rows[0]["MotherMobileNo"]</div>
                                </div>

                                    <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label">Current Address</div>
                                    <div class="col-lg-9 col-md-8">@Model.StudentData.Rows[0]["PresentAddress"]</div>
                                </div>

                                    <div class="row border-bottom">
                                    <div class="col-lg-3 col-md-4 label">Perment Address</div>
                                    <div class="col-lg-9 col-md-8">@Model.StudentData.Rows[0]["PermentAddress"]</div>
                                </div>
                            </div>
                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>
</section>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the current time
        var currentTime = new Date();
        var hours = currentTime.getHours();

        // Get the greeting based on the time
        var greeting;
        if (hours < 12) {
            greeting = "Good Morning 🌞";
        } else if (hours < 18) {
            greeting = "Good Afternoon ☀️";
        } else {
            greeting = "Good Evening 🌜";
        }

        // Display the greeting in the designated element
        var greetingElement = document.getElementById("greeting");
        if (greetingElement) {
            greetingElement.textContent = greeting;
        }
    }); 
 </script>