@{ 
    ViewData["Title"] = "Student List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@model DataTable

<div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-gears"></i> All Students</h5>
                    <div class="row">
                        
                        <div class="col-md-9">
                            <button class="btn btn-danger">Generate Pdf</button>
                        </div>
                        <div class="pull-right col-md-3 my-2">
                            <div id="sample_1_filter" class="dataTables_filter">
                                <input type="text" class="form-control input-group-sm input-small input-inline" id="sample_1" placeholder="Search" aria-controls="sample_1">
                            </div>
                        </div>
                    </div>
                   
                    @if (TempData["MST_Student_Delete_AlertMessage"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @TempData["MST_Student_Delete_AlertMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <!-- Table with stripped rows -->
                    @if (Model.Rows.Count > 0)
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Contact No.</th>
                                    <th>Birth Date</th>
                                    <th>Age</th>
                                    <th>Nationlity</th>
                                    <th>Aadharcard No.</th>
                                    <th>Status</th>
                                    <th class="text-center">Action</th>
                                    
                                </tr>
                            </thead>
                            <tbody id="sample_2">
                                @foreach (DataRow dr in Model.Rows)
                                {
                                    <tr>
                                        <td><img src="@Url.Content(dr["PhotoPath"].ToString())" alt="@dr["StudentName"]" style="height:40px; width:40px; border-radius:50%;" /></td>
                                        <td>@dr["StudentName"]</td>
                                        <td>@dr["Email"]</td>
                                        <td>@dr["MobileNo"]</td>
                                        <td>@Convert.ToDateTime(dr["BirthDate"]).ToString("dd-MM-yyyy")</td>
                                        <td>@dr["Age"]</td>
                                        <td>@dr["Nationlity"]</td>
                                        <td>@dr["AadharCardNo"]</td>
                                        <td>@dr["isActive"]</td>
                                        <td class="d-flex justify-content-between">
                                            <form method="get" asp-area="MST_Student" asp-controller="MST_Student" asp-action="ViewProfile">
                                                <input type="hidden" name="StudentID" value="@Convert.ToInt32(dr["StudentID"].ToString())">
                                                <button type="submit" class="btn btn-warning"><i class="bi bi-eye-fill"></i></button>
                                            </form>

                                            <form method="post" asp-area="MST_Student" asp-controller="MST_Student" , asp-action="Delete">
                                                <input type="hidden" name="StudentID" value="@Convert.ToInt32(dr["StudentID"])" />
                                                <button type="submit" class="btn btn-danger btn-rounded" onclick="return confirm('Are you sure you want to remove this?')"><i class="fa fa-trash"></i></button>
                                            </form>

                                            <form method="get" asp-area="MST_Student" asp-controller="MST_Student" asp-action="Add">
                                                <input type="hidden" name="StudentID" value="@Convert.ToInt32(dr["StudentID"].ToString())">
                                                <button type="submit" class="btn btn-primary btn-rounded"><i class="fa fa-pen-to-square"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <tr>
                            <div class="w-full p-2 rounded" style="background-color:tomato">
                                <i class="bi bi-x-circle-fill text-light"></i> <span style="font-size: 15px; color: white;">No Record Found</span>
                            </div>
                        </tr>
                    }
                    <hr />
                  
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-secondary btn-rounded px-4" asp-controller="MST_Student" asp-action="Cancle"><i class="bi bi-caret-left-fill"></i>Back</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}