@{
    ViewData["Title"] = "Employee Salary List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@model DataTable

<div class="pagetitle">
    <h1>Salary List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active"><a asp-controller="MST_EmployeeSalary" asp-action="Index">Employee Salary List</a></li>
        </ol>
    </nav>
</div>

<style>
    /* Table styles */
    #sample_1 {
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
    }

    #sample_1 th {
        padding: 15px 0px 15px 0px;
        text-align: left;
    }

    #sample_1 th {
        background-color: darkblue; /* Header background color */
        color: #fff;
    }

    /* Alert styles */
    .alert {
        border-radius: 10px;
        margin-top: 20px;
    }

    /* No Record Found styles */
    .no-record {
        font-size: 15px;
        color: white;
    }
</style>

<section class="section">
    <div class="card">
        <div class="card-body">
            <form class="row align-items-end rounded px-1" method="POST" asp-area="MST_EmployeeSalary" asp-controller="MST_EmployeeSalary" asp-action="EmployeeSalary">
                <div>
                    <h5 class="card-title"><i class="fa-solid fa-filter"></i> Filter</h5>
                </div>
                <hr />

                <div class="col-md-3">
                    <label for="EmaployeeName" class="form-label">Emaployee Name</label>
                    <input type="text" name="EmaployeeName" class="form-control" id="EmaployeeName" placeholder="e.g. abc">
                </div>

                <div class="col-md-3">
                    <label for="SalaryDate" class="form-label">Date</label>
                    <input type="date" name="SalaryDate" class="form-control" id="SalaryDate" placeholder="e.g. 10-02-2024">
                </div>

                <div class="form-group col-md-2">
                    <label for="PaymentMode" class="form-label">Payment Mode</label>
                    <input type="text" name="PaymentMode" class="form-control" id="PaymentMode" placeholder="e.g. Cash">
                </div>


                <div class="col-md-2">
                    <button type="submit" title="Search" class="btn btn-success w-100">Search <i class="bi bi-search"></i></button>
                </div>
                <div class="col-md-2">
                    <button type="submit" asp-controller="MST_EmployeeSalary" asp-action="Index" title="Clear" class="btn btn-danger w-100">Clear <i class="fa-solid fa-circle-xmark"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-gears"></i> Salary</h5>
                    <div class="row">
                        <div class="col-md-9">
                            <a class="btn btn-secondary" asp-area="MST_EmployeeSalary" asp-controller="MST_EmployeeSalary" asp-action="Add"><i class="bi bi-credit-card-fill"></i>  Add Salary</a>
                        </div>
                        <div class="pull-right col-md-3">
                            <div id="sample_1_filter" class="dataTables_filter">
                                <input type="text" class="form-control input-group-sm input-small input-inline" id="sample_1" placeholder="Search" aria-controls="sample_1">
                            </div>
                        </div>
                    </div>
                    <hr />
                    @if (TempData["MST_EmployeeSalary_AlertMessage"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            @TempData["MST_EmployeeSalary_AlertMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    @if (TempData["MST_EmployeeSalary_Delete_AlertMessage"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @TempData["MST_EmployeeSalary_Delete_AlertMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @if (Model.Rows.Count > 0)
                    {
                        <table id="sample_1" class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="ps-2">Employee Name</th>
                                    <th class="text-center">Salary Date</th>
                                    <th class="ps-2">PaymentMode</th>
                                    <th class="ps-2">Amount</th>
                                    <th class="ps-2">Remark</th>
                                    <th class="ps-2">Bank</th>
                                    <th class="ps-2">ChequeNo</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Created</th>
                                    <th class="text-center">Modified</th>
                                    <th class="text-center">Delete</th>
                                    <th class="text-center">Edit</th>

                                </tr>
                            </thead>
                            <tbody id="sample_2">
                                @foreach (DataRow dr in Model.Rows)
                                {
                                    <tr>
                                        <td>@dr["EmployeeName"]</td>
                                        <td class="text-center">@Convert.ToDateTime(dr["SalaryDate"]).ToString("dd-MM-yyyy")</td>
                                        <td>@dr["PaymentMode"]</td>
                                        <td>@dr["Salary"]</td>
                                        <td>@dr["Remark"]</td>
                                        <td>@dr["BankName"]</td>
                                        <td>@dr["ChequeNo"]</td>
                                        <td class="text-center">
                                            @if ((bool)dr["Status"])
                                            {
                                                <span class="badge bg-success">Paid</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-danger">Unpaid</span>
                                            }
                                        </td>
                                        <td class="text-center">@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                                        <td class="text-center">@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                                        <td class="text-center">
                                            <form method="post" asp-area="MST_EmployeeSalary" asp-controller="MST_EmployeeSalary" , asp-action="Delete">
                                                <input type="hidden" name="EmployeeSalaryID" value="@Convert.ToInt32(dr["EmployeeSalaryID"])" />
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')"><i class="fa fa-trash"></i></button>
                                            </form>
                                        </td>
                                        <td class="text-center">
                                            <form method="get" asp-area="MST_EmployeeSalary" asp-controller="MST_EmployeeSalary" asp-action="Add">
                                                <input type="hidden" name="EmployeeSalaryID" value="@Convert.ToInt32(dr["EmployeeSalaryID"].ToString())">
                                                <button type="submit" class="btn btn-warning"><i class="fa fa-pen-to-square"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <tr>
                            <div class="w-full p-2 rounded bg-danger bg-opacity-75">
                                <i class="bi bi-x-circle-fill text-light"></i> <span style="font-size: 15px; color: white;">No Record Found</span>
                            </div>
                        </tr>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}